<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="baseUrl" value=""/>
    <add key="browsers" value="chrome,firefox,ie"/>
    <add key="hubUri" value="http://localhost:4444/wd/hub"/>
    <add key="screenshotFolder" value="C:\temp\Selenium\"/>
  </appSettings>
</configuration>